
/**
  * Warning: don't include @font-face rule in any @media rules
  * It won't work in IE8, FF
  *
  *
  * Example:
@font-face {
	font-family: 'HeroRegular';
	src: url('fonts/hero-webfont.eot');
	src: url('fonts/hero-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/hero-webfont.woff') format('woff'),
		url('fonts/hero-webfont.ttf') format('truetype'),
		url('fonts/hero-webfont.svg#HeroRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
  *
  *
  */

@media all {

	/**
	* @section global typography settings
	*
	* vertical rhythm settings (based on em-unit)
	* -------------------------------------------
	* basefont-size: 14px (100%)
	* line-height  : 21px (factor: 1.5)
	*/

	/*  reset font size for all elements to standard (14 Pixel) */
	html * { font-size:100%; }

	/**
	*  reset monospaced elements to font size 16px in all browsers
	*
	* @see: http://webkit.org/blog/67/strange-medium/
	*/

	textarea,
	pre,
	code,
	kbd,
	samp,
	var,
	tt {
		font-family:Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
	}

	/*  base layout gets standard font size 14px */
	body {
		font-family: Arial, Helvetica, sans-serif;
		font-size:87.50%; /* base: 14px */
		color:#444;

		/*  Prevent auto-scaling of text in mobile webkit browsers */
		-webkit-text-size-adjust:100%;
	}

	/* reset depricated inline styling tags */
	center {
		margin: 0 !important;
		text-align: left !important;
	}
	basefont, font {
		font-family: inherit !important;
		font-style: inherit !important;
		font-size: 100% !important;
		color: inherit !important;
	}


	/*--- Headings ------------------------------------------------------------------------*/

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 400;
		color:#161e21;
		margin:0;
	}

	h1 {
		font-size:350%;
		line-height: 0.8571em;
		margin: 0 0 0.4286em 0;
	}

	h2 {
		font-size:250%;
		line-height: 1.2em;
		margin: 0 0 0.6em 0;
	}

	h3 {
		font-size:175%;
		line-height: 0.8571em;
		margin: 0 0 0.8571em 0;
	}

	h4 {
		font-size:133.33%;
		line-height: 1.125em;
		margin: 0 0 1.125em 0;
	}

	h5 {
		font-size:116.67%;
		line-height: 1.2857em;
		margin: 0 0 1.2857em 0;
	}

	h6 {
		font-weight: bold;
		font-size:100%;
		line-height: 1.5em;
		margin: 0 0 1.5em 0;
	}

	/* --- Lists  -------------------------------------------------------------------------------- */

	ul,
	ol,
	dl {
		font-size:1em;
		line-height:1.5em;
		margin: 1.5em 0 0 1em;
	}

	ul {
		list-style-type:disc;
	}

	ol {
		list-style-type:decimal;
	}

	ul ul {
		list-style-type:circle;
		margin-top:0;
	}

	ol ol {
		list-style-type:lower-latin;
		margin-top:0;
	}

	ol ul {
		list-style-type:circle;
		margin-top:0;
	}

	li {
		font-size:1em;
		line-height:1.5em;
		margin-left:0.8em;
	}

	dt { font-weight:bold; }

	dd { margin:0 0 1.5em 0.8em; }

	/* --- general text formatting  ------------------------------------------ */

	p {
		font-size:1em;
		line-height:1.5em;
		margin: 0 0 1em 0;
	}

	/*--- Links ----------------------------------------------------------------------------------------- */

	a {
		color:#4D87C7;
		background:transparent;
		text-decoration:none;
	}

	a:active { outline: none; }

	/*  maximum constrast for tab focus - change with great care */
	a:hover,
	a:focus {
		text-decoration:underline;
	}

	/* --- images ------------------ */

	img,
	figure {
		margin: 0;
	}


}/* WARNING: do not remove this @media ending bracket */